html,
body {
    margin: 0;
    padding-top: 40px;
    background-size: 200%;
    background-position: center;
    font-family: sans-serif;
    background-image: url(../img/fondo2.jpg);
    text-align: center;
}

a {
    font-size: 30px;
}